<div class="jumbotron">
  <div class="container">
    <p> As the hart panteth after the water brooks, so panteth my soul after thee, O God...</p>
  </div>
</div>

<h2><%= link_to "logout", destroy_user_session_path, method: :delete %> </h2>

