 <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Still Waters Study", root_path, class: "navbar-brand", id: "logo" %>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Sermons", "/path1"  %></li>
            <li><%= link_to "New Prayer Requests", new_prayer_path  %></li>
            <li><%= link_to "Link", "/path3"  %></li>
          </ul>
        </div>
      </div>
    </div>